:root {
  --viewpoint-height: 100vh;
  --viewpoint-width: 100vw;

  --font-size: 15vh;
  --font-family: 'Roboto', sans-serif;
}

body, html {
  margin: 0;
}

.Icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 13vh;
  width: 13vh;
  
  background: green;

  color: white;
}