:root {
  --viewpoint-height: 100vh;
  --viewpoint-width: 100vw;

  --color-bkg: white;
  --fake-color: rgb(235, 235, 235, 0.7);
  --deep-color: rgb(225, 225, 225, 1);
  --color-shadow: #888888;
  --font-color: #212121;

  --font-size-title: 15vh;
  --font-size-subtitle: 2vh;
  --font-family: 'Roboto', sans-serif;
}

body, html {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--color-bkg);
}

.Top_app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: calc(var(--viewpoint-height) * 0.02);
  height: calc(var(--viewpoint-height) * 0.03);
  width: var(--viewpoint-width);

  margin-left: 80%;
  width: 10%;
}

.Change_theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 0;
  background: var(--fake-color);
  border-radius: 100px;

  margin-top: 10%;
  margin-left: 10%;
  height: 5vh;
  width: 50%;
}

.Change_theme:hover {
  cursor: pointer;
  background: var(--deep-color);
  transition: .7s;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc(var(--viewpoint-height) * 0.56);
  width: calc(var(--viewpoint-width) * 0.5);
  margin-top: calc(var(--viewpoint-height) * 0.12);
  margin-bottom: calc(var(--viewpoint-height) * 0.22);
}

.Google_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 35%;
  width: 100%;
  padding-bottom: 1%;

  font-family: var(--font-family);
  font-weight: 900;
  font-size: var(--font-size-title);
  color: #32A04E;
}

p {
  white-space: nowrap;
  transform: scale(1, .9);
}

.blue {
  color: #3F7DE7;
}

.red {
  color: #DE4033;
}

.yellow {
  color: #EEB309;
}

.Search_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  height: 12%;
  width: 96%;
  padding-left: 3%;
  margin-bottom: 2%;

  background: var(--fake-color);
  border-radius: 50px;
  box-shadow: 1px 1px var(--color-shadow);
}

.Input_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-left: 2%;
  height: 65%;
  width: 80%;

  background: transparent;
  border: 0px solid;

  font-family: var(--font-family);
  font-weight: 900;
  font-size: var(--font-size-subtitle);
  color: #212121;
}

.Input_search:focus {
  outline: none;
}

.Mic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-left: 2%;
  height: 40%;
}

.Icons_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  height: 25%;
  width: 90%;
}

.Icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 13vh;
  width: 13vh;
  
  background: transparent;
  border-radius: .5vh;

  color: white;
}

.Icon:hover {
  cursor: pointer;
  background: var(--fake-color);
  transition: .7s;
}

.Icon_round {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 7vh;
  width: 7vh;
  margin-bottom: 1.5vh;

  background: var(--deep-color);
  border-radius: 100px;
}

.Icon_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 20%;
  width: 100%;

  font-family: var(--font-family);
  font-weight: 900;
  font-size: var(--font-size-subtitle);
  color: var(--font-color);
}

.Bottom_app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: calc(var(--viewpoint-height) * 0.03);
  margin-bottom: calc(var(--viewpoint-height) * 0.02);
  width: var(--viewpoint-width);

  margin-left: 80%;
  width: 10%;
}

.Change_bkg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 0;
  background: var(--fake-color);
  border-radius: 100px;

  margin-left: 10%;
  height: 5vh;
  width: 50%;
  margin-bottom: 10%;
}

.Change_bkg:hover {
  cursor: pointer;
  background: var(--deep-color);
  transition: .7s;
}